  <div class="full-page"  filter-color="black"  id="login-outer">
      <div class="content">
        <div class="container">
          <div class="col-md-4 ml-auto mr-auto">
            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= f.error_notification %>
              <div class="card card-login card-plain">
                <div class="card-header ">
                  <div class="logo-container text-center">
                    <p id="icon" style="text-shadow: rgb(72, 81, 90) 0px 0px 0px, rgb(74, 83, 91) 1px 1px 0px, rgb(75, 85, 93) 2px 2px 0px, rgb(77, 86, 95) 3px 3px 0px, rgb(78, 88, 97) 4px 4px 0px, rgb(79, 89, 99) 5px 5px 0px, rgb(81, 91, 101) 6px 6px 0px, rgb(82, 93, 102) 7px 7px 0px, rgb(84, 94, 104) 8px 8px 0px, rgb(85, 96, 106) 9px 9px 0px, rgb(87, 98, 108) 10px 10px 0px, rgb(88, 99, 110) 11px 11px 0px, rgb(90, 101, 112) 12px 12px 0px, rgb(91, 103, 113) 13px 13px 0px, rgb(93, 104, 115) 14px 14px 0px, rgb(94, 106, 117) 15px 15px 0px, rgb(96, 108, 119) 16px 16px 0px, rgb(97, 109, 121) 17px 17px 0px, rgb(99, 111, 123) 18px 18px 0px, rgb(100, 113, 124) 19px 19px 0px, rgb(102, 114, 126) 20px 20px 0px; font-size: 84px; color: rgb(66, 108, 150); height: 132px; width: 132px; line-height: 132px; border-radius: 50%; text-align: center; background-color: rgb(103, 116, 128);"> undefined </p>
                  </div>
                </div>
                <div class="card-body ">
                  <div class="input-group no-border form-control-lg">
                    <span class="input-group-addon">
                      <i class="now-ui-icons users_circle-08"></i>
                    </span>
                    <input class="form-control" autofocus="autofocus" type="email" value="" name="user[email]" id="user_email" placeholder="Enter email" />
                  </div>
                </div>
                <div class="card-footer ">
                  <button type="submit" class="btn btn-primary btn-round btn-lg btn-block mb-3">Send me reset password instructions</button>
                  <div class="pull-left change-to-white pt-2">
                    <h6 class="text-center white-text">
                      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                      <%= link_to "Sign up", new_registration_path(resource_name) %><br />
                      <% end -%>
                    </h6>
                  </div>
                  <div class="pull-right">
                       <h6><%- if controller_name != 'sessions' %>
                      <%= link_to "Log in", new_session_path(resource_name) %><br />
                    <% end -%> </h6>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
