  <div class="full-page"  filter-color="black"  id="login-outer">
      <div class="content">
        <div class="container">
          <div class="col-md-4 ml-auto mr-auto">
            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= f.error_notification %>
              <div class="card card-login card-plain">
                <div class="card-header ">
                  <div class="logo-container text-center">

                    <i id="icon" class="fa fa-database" style="text-shadow: rgb(25, 41, 57) 0px 0px 0px, rgb(26, 41, 57) 1px 1px 0px, rgb(26, 42, 58) 2px 2px 0px, rgb(26, 42, 59) 3px 3px 0px, rgb(26, 43, 59) 4px 4px 0px, rgb(27, 43, 60) 5px 5px 0px, rgb(27, 44, 61) 6px 6px 0px, rgb(27, 44, 62) 7px 7px 0px, rgb(28, 45, 62) 8px 8px 0px, rgb(28, 45, 63) 9px 9px 0px, rgb(28, 46, 64) 10px 10px 0px, rgb(29, 46, 64) 11px 11px 0px, rgb(29, 47, 65) 12px 12px 0px, rgb(29, 47, 66) 13px 13px 0px, rgb(30, 48, 66) 14px 14px 0px, rgb(30, 48, 67) 15px 15px 0px, rgb(30, 49, 68) 16px 16px 0px, rgb(30, 49, 69) 17px 17px 0px, rgb(31, 50, 69) 18px 18px 0px, rgb(31, 50, 70) 19px 19px 0px, rgb(31, 51, 71) 20px 20px 0px, rgb(32, 51, 71) 21px 21px 0px, rgb(32, 52, 72) 22px 22px 0px, rgb(32, 52, 73) 23px 23px 0px, rgb(33, 53, 73) 24px 24px 0px, rgb(33, 53, 74) 25px 25px 0px, rgb(33, 54, 75) 26px 26px 0px, rgb(34, 54, 75) 27px 27px 0px, rgb(34, 55, 76) 28px 28px 0px, rgb(34, 55, 77) 29px 29px 0px, rgb(34, 56, 78) 30px 30px 0px, rgb(35, 56, 78) 31px 31px 0px, rgb(35, 57, 79) 32px 32px 0px, rgb(35, 57, 80) 33px 33px 0px, rgb(36, 58, 80) 34px 34px 0px; font-size: 61px; color: rgb(255, 255, 255); height: 133px; width: 133px; line-height: 133px; border-radius: 50%; text-align: center; background-color: rgb(36, 58, 81);"></i>
                  </div>
                </div>
                <div class="card-body ">
                  <div class="input-group no-border form-control-lg">
                    <span class="input-group-addon">
                      <i class="now-ui-icons users_circle-08"></i>
                    </span>
                    <input class="form-control" autofocus="autofocus" type="email" value="" name="user[email]" id="user_email" placeholder="Enter email" />
                  </div>
                </div>
                <div class="card-footer ">
                  <button type="submit" class="btn btn-primary btn-round btn-lg btn-block mb-3">Send me reset password instructions</button>
                  <div class="pull-left change-to-white pt-2">
                    <h6 class="text-center white-text">
                      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                      <%= link_to "Sign up", new_registration_path(resource_name) %><br />
                      <% end -%>
                    </h6>
                  </div>
                  <div class="pull-right">
                       <h6><%- if controller_name != 'sessions' %>
                      <%= link_to "Log in", new_session_path(resource_name) %><br />
                    <% end -%> </h6>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
