

<div class = "jumbotron">

   <div class = "container">
      <h1>Welcome to home page!</h1>
      <p>This web application  built to mange Hudson Commercial Contact, and action steep need to make successfull Commerical real estae trasactions.</p>

      <p>
         <a class = "btn btn-primary btn-lg" role = "button">Learn more</a>
      </p>
   </div>

</div>
