<div class="top-header">
 <%= render 'layouts/messages' %>
</div>
      <div class="container-fluid">

        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="card card-stats rounded-0" data-background-color="black" style=" box-shadow: 0px 3px 2px -2px rgba(249, 99, 50, 0.5)">
              <div class="card-body  bg-faded" >
                <div class="statistics statistics-horizontal">
                  <div class="info info-horizontal">
                    <div class="row">
                      <div class="col-5">
                        <div class="icon icon-primary icon-circle">
                          <i class="now-ui-icons ui-2_chat-round " style="color: black !important;"></i>
                        </div>
                      </div>
                      <div class="col-7 text-right">
                        <h3 class="info-title">1058</h3>
                        <h6 class="stats-title">messages</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="card-footer ">
                <div class="stats">
                  <i class="now-ui-icons arrows-1_refresh-69" style="color: black !important;"></i> Update now
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card card-stats rounded-0" data-background-color="black" data-background-color="black" style=" box-shadow: 0px 3px 2px -2px rgba(255, 178, 54, .5)">
              <div class="card-body  bg-faded" >
                <div class="statistics statistics-horizontal">
                  <div class="info info-horizontal">
                    <div class="row">
                      <div class="col-5">
                        <div class="icon icon-warning icon-circle">
                          <i class="now-ui-icons business_bank" style="color: black !important;"></i>
                        </div>
                      </div>
                      <div class="col-7 text-right">
                        <h3 class="info-title">
                          <span>$</span>23,685</h3>
                        <h6 class="stats-title">Deposit</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="card-footer ">
                <div class="stats">
                  <i class="now-ui-icons ui-1_calendar-60" style="color: black !important;"></i> Last week
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card card-stats rounded-0" data-background-color="black" style="box-shadow: 0px 3px 2px -2px rgba(255, 54, 54, 0.5)">
              <div class="card-body bg-faded" >
                <div class="statistics statistics-horizontal">
                  <div class="info info-horizontal">
                    <div class="row">
                      <div class="col-5">
                        <div class="icon icon-danger icon-circle">
                          <i class="now-ui-icons sport_user-run" style="color: black !important;"></i>
                        </div>
                      </div>
                      <div class="col-7 text-right">
                        <h3 class="info-title">364</h3>
                        <h6 class="stats-title">Players</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="card-footer ">
                <div class="stats">
                  <i class="now-ui-icons ui-2_time-alarm" style="color: black !important;"></i> In the last hour
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card card-stats rounded-0" data-background-color="black" style="box-shadow: 0px 3px 2px -2px rgba(44, 168, 255, 0.5)">
              <div class="card-body bg-faded">
                <div class="statistics statistics-horizontal">
                  <div class="info info-horizontal">
                    <div class="row">
                      <div class="col-5">
                        <div class="icon icon-info icon-circle">
                          <i class="now-ui-icons ui-2_favourite-28" style="color: black !important;"></i>
                        </div>
                      </div>
                      <div class="col-7 text-right">
                        <h3 class="info-title">+83K</h3>
                        <h6 class="stats-title">followers</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="card-footer bg-faded ">
                <div class="stats">
                  <i class="now-ui-icons arrows-1_refresh-69"></i> Update now
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class ="container-fluid   main-container">
        <div class="nav-tabs" data-background-color="black">

        </div>



                <div class="row ">




                <div class="col-md-6 pr-3  col-rezie ">
                    <div class="card card-nav-tabs " data-background-color="black">
                          <div class="card-header mt-0 pt-0" data-background-color="black">
                                 <div class="nav-tabs-navigation">
                                    <ul class="list-inline mt-0 mb-0 pt-0">
                                      <li class="list-inline-item "><h6>Tasks </h6></li>
                                       <li class="list-inline-item">

                                          <div class="nav-tabs-wrapper">

                                             <ul class="nav nav-tabs mt-0 pt-2" data-tabs="tabs">
                                                <li class="active pr-2">
                                                   <a href="#Deals" data-toggle="tab" aria-expanded="true">
                                                      <i class=" fa fa-briefcase pr-2"></i> Deals
                                                      <div class="ripple-container"></div>
                                                   </a>
                                                </li>
                                                <li class="pr-2">
                                                   <a href="#messages" data-toggle="tab" aria-expanded="false">
                                                      <i class="fa fa-tty pr-2"></i> Leads
                                                      <div class="ripple-container"></div>
                                                   </a>
                                                </li>
                                                <li class="pr-2">
                                                   <a href="#settings" data-toggle="tab" aria-expanded="false">
                                                      <i class=" fa fa-list-alt pr-2"></i> Projects
                                                      <div class="ripple-container"></div>
                                                   </a>
                                                </li>
                                             </ul>
                                          </div>
                                       </li>
                                       <div class="float-right mt-0 pt-0">
                                          <li class="list-inline-item">
                                             <form id="create-form task-input">
                                                <input id="create-input" class="create-input " />
                                                <button id="add-tsk-btn" class="btn  btn-success">Create</button>
                                             </form>
                                          </li>
                                       </div>
                                    </ul>
                                 </div>
                              </div>
                                <div class="card-content mt-4 pt-1">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="Deals">
                                              <div id="app-container">
                                                <h5 class="pl-2  mb-0  main-task-h"></h5>

                                                <div class="error-message"></div>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th >Action steps for Deals</th>
                                                            <th class=" td-actions text-right">Actions</th>
                                                        </tr>
                                                        <tbody id="todos-list" />
                                                    </thead>
                                                </table>
                                            </div>

                                        </div>
                                        <div class="tab-pane" id="messages">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" name="optionsCheckboxes" checked=""><span class="checkbox-material"><span class="check"></span></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                                        </td>
                                                        <td class="td-actions text-right">
                                                            <button type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" data-original-title="Edit Task">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="Remove">
                                                                <i class="material-icons">close</i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" name="optionsCheckboxes"><span class="checkbox-material"><span class="check"></span></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>Sign contract for "What are conference organizers afraid of?"</td>
                                                        <td class="td-actions text-right">
                                                            <button type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" data-original-title="Edit Task">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="Remove">
                                                                <i class="material-icons">close</i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane" id="settings">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" name="optionsCheckboxes"><span class="checkbox-material"><span class="check"></span></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                                        <td class="td-actions text-right">
                                                            <button type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" data-original-title="Edit Task">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="Remove">
                                                                <i class="material-icons">close</i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" name="optionsCheckboxes" checked=""><span class="checkbox-material"><span class="check"></span></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                                        </td>
                                                        <td class="td-actions text-right">
                                                            <button type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" data-original-title="Edit Task">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="Remove">
                                                                <i class="material-icons">close</i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" name="optionsCheckboxes"><span class="checkbox-material"><span class="check"></span></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>Sign contract for "What are conference organizers afraid of?"</td>
                                                        <td class="td-actions text-right">
                                                            <button type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" data-original-title="Edit Task">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="Remove">
                                                                <i class="material-icons">close</i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
             </div>



                              <div class="col-md-6  col-rezie">

                                 <%= render 'pages/contacts' %>



                                   </div>
                                </div>
                              </div>


