<div class="container-fluid">
  <div class="margin-top">

  </div>
  <div class="card  footer-distributed main-form white-text">

    <div class="card-header ">
      <h4 class="card-title ">Editing Contact</h4>
    </div>


  <%= render 'form', contact: @contact %>

  <%= link_to 'Show', @contact %> |
  <%= link_to 'Back', contacts_path %>
</div>
</div>
