<div class="">
  <div class="margin-top">

  </div>
   <div class="footer-distributed">

<div class="container-8 ">

<h4 class="card-title ">Editing Contact</h4>

<%= render 'form', company: @company %>

<%= link_to 'Show', @company %> |
<%= link_to 'Back', companies_path %>
</div>
</div>
</div>
