
<div class="">

  <div class="footer-distributed main-form white-text rounded-0">
    <div class="container-8 ">


<h4 class="card-title  ">New Contact</h4>


<div class="pl-4">


<%= render 'form', company: @company %>

<%= link_to 'Back', companies_path %>
</div>
</div>
</div>
</div>
